.flex{
    display: flex;
}
body{
    font-family: 'Arial'
}
.sony{
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    justify-content: end;
    font-size: 40px;
    letter-spacing: 0.1cm;
    padding-right: 15px;
    align-items: center;

}
/* header start */
header .header-wrapper{
    padding: 10px 25px 10px 65px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-logo{
    width: 32px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 17px;
    animation: logo-playstation 5s linear infinite;
}
.nav-li{
    font-size: 16px;
    max-width: 90px;
    width: 100%;
    padding: 15px;
    text-align: center;
    transition: all 0.3s linear; 
}
.navigation-li{
    color: black;
    transition: all 0.3s linear;
}
.navigation-li:hover{
    color: whitesmoke;
}
.nav-li:hover{
    background-color: #0072ce;
    color: whitesmoke;
    border-radius: 3px;
}
.burger{
    display: none;
}
/* banner section */
.bg-image{
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 253, 253, 0.5)), url('../images/banner.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.front-div{
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    padding: 150px 0 100px 70px;
}
.front-title{
    font-size: 39px;
    width: 100%;
    color: #363636;
}
.front-text{
    color: #616060;
    font-size: 16px;
    margin: 26px 0;
}
.buy-now{
    background-color:#cd3d0f;
    width: 95px;
    border-radius: 10px;
    color: white;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #cd3d0f;
    transition: all 0.3s linear;
}
.buy-now:hover{
    background-color: rgb(253, 231, 231);
    border: 1px solid #cd3d0f;
    color: #cd3d0f;
}
.left-button,
.right-button {
    width: 23px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    cursor: pointer;
}
.left-button  {
    left: 10px;
    top: -70px;
    position: absolute;
    content: url('../images/prev_arrow.svg');
}

.right-button {
    margin-left: 255px;
    position: absolute;
    right: 5px;
    top: -70px;
    content: url('../images/next_arrow.svg');
}
/* ps5 about*/
.ps5-about{
    max-width: 1370px;
    width: 100%;
    margin:0 auto;
    padding-bottom:100px;
}
.title-box{
    margin-top: 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ps5-title5{
    color: #0072ce;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.ps5-title3{
    color: #616060;
    font-size: 16px;
    letter-spacing: 2px;

}
.ps5-title2{
    color: #363636;
    font-size: 39px;
    margin-bottom: 16px;
}
.ps5{
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.ps5-image{
    width: 100%;
    height: auto;
}
.ps5-left,
.ps5-right{
    max-width: 585px;
    width: 100%;
}
.learn-more{
    background-color:#2d64e6;
    width: 115px;
    border-radius: 18px;
    color: white;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #2d64e6;
    outline:none;
    transition: all 0.3s linear;
}
.learn-more:hover{
    background-color: white;
    border: 1px solid #2d64e6;
    color: #2d64e6;
}
.ps5-title{
    font-size: 32px;
    max-width: 430px;
    width: 100%;
    letter-spacing: 1px;
    color: #363636;
}
.ps5-text{
    font-size: 20px;
    margin: 20px 0 30px;
    color: #616060;
    max-width: 430px;
    width: 100%;
    letter-spacing: 1px;
}
.list-box{
    margin-top: 200px;
    justify-content: space-between;
}
.box{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 254px;
    width: 100%;
    transition: all 0.3s linear;
    border: 4px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.box:hover{
    border:2px solid #0072ce;

}
.pic{
    max-width: 204px;
    width: 100%;
    height: auto;
}
.pic-text{
    font-size: 16px;
    color: #616060;
    margin-bottom: 5px;
}
/* news  */
.news{
    border-top: 1px solid #616060;
    max-width: 1370px;
    width: 100%;
    margin:0 auto;
}
.news-title{
    margin: 180px 0 60px;
    font-size: 40px;
    color: #363636;
    text-align: center;
}
.news-title2{
    font-size: 25px;
    color: #0072ce;
    margin-bottom: 100px;
}
.soc-links:hover{
    text-decoration: underline;
}
.video-div{
    margin-bottom: 40px;
}
span{
    margin-bottom: 40px;
}
.news-text,
.news-text2{
    max-width: 1000px;
    width: 100%;
    font-size: 16px;
    color: #656565;
    margin-bottom: 40px;
}
.news-text2{
    margin-top: 40px;
    line-height: normal;
}
/* contact */
.contact{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
.contact-title{
    border-top: 1px solid #616060;
    margin: 80px 0;
    text-align: center;
    color: #656565;
    font-size: 40px;
    padding-top: 200px;
}
.contact-box{
    justify-content: space-around;
}
.contact-block{
    max-width: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.3;
    color: #656565;
    padding: 15px 0;
    text-align: center;
}
.contact-info:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fa-map-marker-alt,
.fa-envelope,
.fa-phone-alt{
    font-size: 40px;
    color:#0072ce;
    margin-bottom: 20px;
}
.form-block{
    max-width: 1010px;
    width: 100%;
    margin-top: 80px;
}
.email-1,
.name-1{
    max-width: 500px;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #656565;
}
.email-1{
    margin-left: 10px;
}
.top-form,
.middle-form,
.textarea-form{
    justify-content: center;
}
.email-1::placeholder,
.name-1::placeholder,
.subject-1::placeholder{
    color: #616060;
    font-size: 16px;
}
.subject-1{
    max-width: 1010px;
    width: 100%;
    outline: none;
    height: 45px;
    border: 1px solid #656565;
    border-radius: 3px;
}
textarea{
    max-width: 1010px;
    width: 100%;
    height: 200px;
    outline: none;
}
.button{
    max-width: 100px;
    width: 100%;
    height: 40px;
    background-color: #0072ce;
    color: whitesmoke;
    outline: none;
    border: 1px solid #0072ce;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 3px;
}
/* footer */
footer, .footer-container{
    width: 100%;
    padding-top: 40px;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo{
    width: 70px;
    height: 60px;
}
.footer-title{
    font-size: 20px;
    color:white;
    margin: 30px 0;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}
.fa-twitch,
.fa-facebook-square,
.fa-youtube{
    font-size: 30px;
    color: whitesmoke;
    margin: 0 30px 50px 0;
}
.footer-text{
    color: whitesmoke;
    margin-left: 50px;
    padding-bottom: 50px;
    color: 10px;
}